@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: hsl(0, 0%, 93%);
  --text: #131313;
  --bg-light: hsl(0, 0%, 97%);
  --bg-dark: hsl(0, 0%, 87%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(223, 94%, 13%);
    --text: #ececec;
    --bg-light: hsl(223, 94%, 20%);
    --bg-dark: hsl(223, 94%, 8%);
  }
}

body {
  background: var(--bg);
  color: var(--text);
}

input {
  background: var(--bg-light, --bg);
}

button {
  background: var(--bg-dark, --bg);
}
