@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: hsl(0, 0%, 93%);
  --text: #131313;
  --bg-light: hsl(0, 0%, 97%);
  --bg-dark: hsl(0, 0%, 87%);
}

body {
  background: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(223, 94%, 13%);
    --text: #ececec;
    --bg-light: hsl(223, 94%, 25%);
    --bg-dark: hsl(223, 94%, 8%);
  }

  body {
    background: rgb(6,0,99);
    background: linear-gradient(180deg, rgba(6,0,99,1) 0%, rgba(0,114,255,1) 100%);
    height: 100vh;
  }
}

input {
  background: rgba(0,0,0,.2);
  border: 1px solid var(--bg-light);
  @apply p-2;
}

button {
  background: var(--bg-dark, --bg);
  @apply p-2;
}

.card {
  @apply border-solid border p-2 mt-2 text-center flex flex-col items-center;
  border-color: var(--bg-light);
  background: rgba(0,0,0,0.2);
}

nav {
  background: rgba(0,0,0,.3);
}
